.intro
  display: flex
  flex-wrap: wrap
  align-items: center
  margin: 70px auto 100px
  max-width: 1200px
  width: 80vw
  +tablet()
    margin: 100px auto

.intro-figure
  margin-left: 10%
  width: 40%
  +tablet()
    order: 1
    margin: auto
    margin-bottom: 50px
    width: 90%

.intro-info
  width: 50%
  +tablet()
    order: 2
    width: 100%

.intro-title
  margin: 0 0 1em
  color: $primary
  font-size: $font-massive
  +tablet()
    font-size: $font-large
  +dark()
    text-shadow: 1px 1px 0 lighten($black, 10%), 2px 2px 0 lighten($black, 10%)

.intro-subtitle
  font-weight: normal
  font-size: $font-medium
  +dark()
    color: $white