.theme-switcher
  display: flex
  margin: 0 10px
  font-size: 20px
  cursor: pointer
  input
    display: none
    &:checked
      ~ .theme-\🌝
        display: block
      ~ .theme-\🌚
        display: none

.theme-\🌝
  display: none

.theme-\🌚
  display: block
