extends layout.pug

block content
  section.intro
    .intro-figure
      img(src="assets/figure.svg" alt="just programing")
    .intro-info
      h1.intro-title Hello world, I'm Abdelrahman a Web Developer, writer, and a good father.
      h2.intro-subtitle I’m obsessed with performance and design patterns, I also love to add life to any project using SVG web animation.


  section#working.section
    .section-info:  .section-sticky
      h2.section-title
        |Wor-
        |king
      p.section-description.
        Throw the past four years, I've worked on a wide variety of projects, providing front-end development. also an open source maintainer. 
    .section-elements
      .card
        h3.card-title I work on
        p.card-description.
          Design systems and many open-source tools that aim to introduce new better solutions for both the end-users and developers, I’m obsessed with performance and design patterns, I also love to add life to any project using SVG web animation.

        h4.card-subtitle Preferred Technologies
        .card-description
          ul
            li Vue.js
            li JavaScript (ES6)
            li Html (via Pug.js)
            li CSS (via Stylus or Sass)
            li Webpack
            li Rollup
            li Node.js
            li Version control (Git)
            li Adobe Illustrator

        h4.card-subtitle Other Skills
        .card-description
          ul
            li SVG Animation
            li Design Patterns
              li Digital illustration
              li Best Practices
              li Performance
              li Leadership
              li 53 words per minute
              li WCAG

  section#projects.section
    .section-info: .section-sticky
      h2.section-title
        |Pro-
        |jects
      p.section-description.
        I'm glad being part of this awesome project, this projects aim to give better experience for both developer and end-user.
    .section-elements
      .card
        a(href="https://github.com/baianat/blexar" target="_blank" rel="noopener noreferrer")
          h3.card-title Blexar
        h4.card-subtitle CSS design system
        p.card-description.
          Blexar built to give maximin usability in small places, Blexar built to give maximin usability in small places.

      .card
        a(href="https://github.com/baianat/vuse" target="_blank" rel="noopener noreferrer")
          h3.card-title Vuse
        h4.card-subtitle Vuejs plugin component
        p.card-description.
          Vuse provides the necessary tools to easily create an interactive page builder powered with Vuejs framework.

      .card
        a(href="https://github.com/baianat/vuse" target="_blank" rel="noopener noreferrer")
          h3.card-title Verte
        h4.card-subtitle Vuejs plugin component
        p.card-description.
          A Color picker component. Built from the bottom to work with Vue.js and also comes in a vanilla version.

      .card
        a(href="https://github.com/baianat/align" target="_blank" rel="noopener noreferrer")
          h3.card-title Align
        h4.card-subtitle Advanced text-editor
        p.card-description.
          Align offers a unique and rich post building experience. Align offers a unique and rich post building experience.

  section#writings.section
    .section-info: .section-sticky
      h2.section-title
        |Wri-
        |tings
      p.section-description.
        I write generally about front-end development techniques and tips, I also famous for the “Quick CSS Quiz” series.
    .section-elements
      .card
        a(href="https://dev.to/abdelrahman3d/quick-css-quiz-1-47i4" target="_blank" rel="noopener noreferrer")
          h3.card-title Quick CSS Quiz Series
        p.card-description.
          CSS might be a total mystery to you or a topic that’s near and dear to your heart. Whether you think of CSS as a "necessary evil" or think of it as the power to control the world of technology, CSS is a must-have for anyone working on web applications. 
        a.card-button(href="https://dev.to/abdelrahman3d/quick-css-quiz-1-47i4" target="_blank" rel="noopener noreferrer") read more
      .card
        a(href="https://dev.to/abdelrahman3d/css-abuse-31gp" target="_blank" rel="noopener noreferrer")
          h3.card-title CSS Abuse
        p.card-description.
          It’s all about CSS. All authors here either forgot to use JavaScript or they had disabled it in their browser and can not enable it back again; so they had to finish the job using only pure CSS.
        a.card-button(href="https://dev.to/abdelrahman3d/css-abuse-31gp" target="_blank" rel="noopener noreferrer") read more
      .card
        a(href="https://dev.to/abdelrahman3d/css-percentage-unit-the-evil-parts-1g29" target="_blank" rel="noopener noreferrer")
          h3.card-title CSS percentage unit, the evil parts
        p.card-description.
          It should be one of the easiest CSS concepts to understand, the percentage CSS data type represents a percentage value, a percentage is a ratio expressed as a fraction of 100, so it has to do some calculations to get the final computed(absolute) value. 
        a.card-button(href="https://dev.to/abdelrahman3d/css-percentage-unit-the-evil-parts-1g29" target="_blank" rel="noopener noreferrer") read more

  section#contact.section.is-center
    .section-info: .section-sticky
      h2.section-title
        |Con-
        |tact
      p.section-description.
        Get in touch now. Tell me about your self and how I can help you.
    .section-elements
      a.contact-button(href="mailto:abdelrahman3d@gmail.com?Subject=Hello").
        Let's chat together