doctype html
html(lang="en")
  head(prefix="og: http://ogp.me/ns# profile: http://ogp.me/ns/profile#")
    title Abdelrahman3D

    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    meta(property="og:title" content="Abdelrahman3D")
    meta(name="description" content="Abdelrahamn Ismail (Abdelrahman3d), personal portfolio webpage.")
    meta(property="og:url" content="http://abdelrahman3d.me")
    meta(name="theme-color" content="#46BA7C")

    meta(property="og:type" content="profile")
    meta(property="profile:first_name" content="Abdelrahman")
    meta(property="profile:last_name" content="Ismail")
    meta(property="profile:username" content="Abdelrahman3D")
    meta(property="profile:gender " content="male")

    meta(property="og:image" content="http://abdelrahman3d.me/assets/cover.png")
    meta(property="og:image:type" content="image/png")
    meta(property="og:image:alt" content="Abdelrahman3D 2d version")

    link(rel="shortcut icon" type="image/png" href="/assets/favicon.png")

  body
    main.main
      include navbar.pug
      block content
    include footer.pug