doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="description" content="Abdelrahamn Ismail (Abdelrahman3d), personal portfolio webpage.")
    meta(name="theme-color" content="#46BA7C")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Abdelrahman

  body
    main.main
      include navbar.pug
      block content
    include footer.pug