include icon.pug

header
  nav.navbar
    a.navbar-brand
      span.brand-letter A
      span.brand-dash _
    .navbar-end
      ul.navbar-menu
        li: a.navbar-item(href="#working") working
        li: a.navbar-item(href="#projects") projects
        li: a.navbar-item(href="#writings") writings
        li: a.navbar-item(href="#contact") contact