.card
  margin-bottom: 70px
  a:not(.card-button)
    text-decoration: none
    &:focus
      color: $primary

.card-title
  font-size: $font-massive
  font-weight: bold
  text-decoration: none
  color: inherit
  margin: 0 0 0.5em

.card-subtitle
  font-size: $font-large
  font-weight: normal
  color: $dark
  margin: 0 0 0.5em

.card-info
  font-size: $font-medium
  font-weight: normal
  color: $dark
  margin: 0 0 0.5em

.card-button
  text-decoration: none
  padding: 0.1em 0.3em 0.1em 0.1em
  font-size: $font-small
  color: $dark
  background-image: linear-gradient(0, $dark, $dark)
  background-size: 100% 0.1em
  background-position: bottom center
  background-repeat: no-repeat
  transition: 130ms cubic-bezier(0.4, 0, 0.2, 1)
  &:focus
    background-size: 100% 100%
    background-image: linear-gradient(0, $primary, $primary)