.card
  margin-bottom: 100px
  a
    text-decoration: none
    &:hover
      color: $primary

.card-title
  font-size: $font-massive
  font-weight: bold
  text-decoration: none
  color: inherit
  margin: 0 0 0.5em

.card-subtitle
  font-size: $font-large
  font-weight: normal
  color: $dark
  margin: 0 0 0.5em

.card-info
  font-size: $font-medium
  font-weight: normal
  color: $dark
  margin: 0 0 0.5em

.card-button
  border-width: 0 0 4px 0
  border-color: $dark
  border-style: solid
  text-decoration: none
  padding: 0.2em 0.5em 0.2em 0
  font-size: $font-small
  &:hover
    border-color: $primary