.⚫ {
  fill: #1e2533;
}

.cls-2 {
  fill: #e2e2e2;
}

.cls-3 {
  fill: #404d6d;
}

.cls-4 {
  fill: #bf9286;
}

.cls-5 {
  fill: #dba897;
}

.cls-6 {
  fill: #251b1b;
}

.cls-7 {
  fill: #2d1c1c;
}

.⚪ {
  fill: #fff;
}

.cls-9 {
  fill: #46ba7c;
}

.cls-10 {
  fill: #e6e6e6;
}
