.intro
  margin: 100px auto 100px
  display: flex
  width: 80vw
  max-width: 1200px
  align-items: center
  flex-wrap: wrap
  +tablet()
    margin: 100px auto
.intro-figure
  width: 40%
  margin-left: 10%
  +tablet()
    order: 1
    width: 90%
    margin: auto
    margin-bottom: 50px
.intro-info
  width: 50%
  +tablet()
    order: 2
    width: 100%

.intro-title
  font-size: $font-massive
  color: $primary
  margin: 0 0 1em
  +tablet()
    font-size: $font-large

.intro-subtitle
  font-size: $font-medium
  font-weight: normal