.intro
  margin: 100px auto 200px
  display: flex
  max-width: 80vw
  align-items: center
  flex-wrap: wrap

.intro-figure
  width: 40%
  margin-right: 10%
  +tablet()
    width: 90%
    margin: auto
    margin-bottom: 50px
.intro-info
  width: 50%
  +tablet()
    width: 100%

.intro-title
  font-size: $font-massive
  color: $primary
  margin: 0 0 1em
  +tablet()
    font-size: $font-large

.intro-subtitle
  font-size: $font-medium
  font-weight: normal