*
  box-sizing: border-box
  color: $dark

body
  font-family: "Fira Code"
  background-color: $slategray
  margin: 0
  padding: 0
  color: $dark

html
body
  scroll-behavior: smooth
  transition: 100ms

.main
  background-color: $white
  border-radius: 20px
  border: 1px solid $gray
  margin: 20px

.contact-button
  font-size: $font-massive
  