@font-face
  font-family: "Fira Code"
  src: url("../../assets/FiraCode-Regular.ttf") format("truetype");
  font-style: normal
  font-weight: 500

@font-face
  font-family: "Fira Code"
  src: url("../../assets/FiraCode-Bold.ttf") format("truetype");
  font-style: normal
  font-weight: 700

*
  box-sizing: border-box
  color: $dark

body
  font-family: "Fira Code"
  background-color: $slategray
  margin: 0
  padding: 0
  color: $dark

html
body
  scroll-behavior: smooth
  transition: 100ms

.main
  background-color: $white
  border-radius: 20px
  border: 1px solid $gray
  margin: 20px
  +tablet()
    margin: 5px

.contact-button
  font-size: $font-massive
  