.navbar
  display: flex
  padding: 50px 50px
  align-items: center
  font-size: $font-small

.navbar-end
  align-self: flex-end
  float: right
  margin-left: auto
.navbar-menu
  display: flex
  margin: 0
  padding: 0
  list-style: none
  +tablet()
    display: none
.navbar-item
  padding: 10px 20px
  font-weight: bold


.brand-letter
  font-size: $font-large
  color: $dark
  font-weight: bold
.brand-dash
  font-size: $font-large
  color: $primary
  font-weight: bold