include ../mixins

doctype html

html(lang="en")
  head(prefix="og: http://ogp.me/ns# profile: http://ogp.me/ns/profile#")
    title Ismail9k
    include meta
    block links

  body
    include noscript
    block content