include ../mixins

doctype html
html(lang="en")
  head(prefix="og: http://ogp.me/ns# profile: http://ogp.me/ns/profile#")
    title Ismail9k
    include meta
    block links

  body(class="theme-light")
    include noscript
    main.main
      include navbar
      block content
    include footer