include ../mixins

doctype html

html(lang="en")
  head(prefix="og: http://ogp.me/ns# profile: http://ogp.me/ns/profile#")
    title Ismail9k
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    meta(name="twitter:site" content="@Abdelrahman3D")
    meta(name="twitter:card" content="summary")
    meta(name="twitter:description" content="Abdelrahamn Ismail (Abdelrahman3d), personal portfolio webpage.")
    meta(name="twitter:title" property="og:title" content="Welcome to Abdelrahman3D's portfolio.")
    meta(name="description" content="Abdelrahamn Ismail (Abdelrahman3d), personal portfolio webpage.")
    meta(name="theme-color" content="#3fa66f")

    meta(property="profile:first_name" content="Abdelrahman")
    meta(property="profile:last_name" content="Ismail")
    meta(property="profile:username" content="Abdelrahman3D")
    meta(property="profile:gender " content="male")
    meta(property="og:type" content="profile")
    meta(property="og:url" content="http://abdelrahman3d.me")
    meta(property="og:image" name="twitter:image" content="http://abdelrahman3d.me/assets/cover.png")
    meta(property="og:image:type" content="image/png")
    meta(property="og:image:alt" content="Abdelrahman3D 2d version")

    link(rel="apple-touch-icon" href="apple-touch-icon.png")
    link(rel="apple-touch-icon" sizes="152x152" href="/assets/icons-apple-152.png")
    link(rel="apple-touch-icon" sizes="167x167" href="/assets/icons-apple-167.png")
    link(rel="apple-touch-icon" sizes="180x180" href="/assets/icons-apple-180.png")
    link(rel="apple-touch-startup-image" href="/assets/cover.png")
    link(rel="mask-icon" href="/assets/safari-pinned-tab.svg" color="#3fa66f")
    meta(name="apple-mobile-web-app-title" content="Abdelrahman")
    meta(name="application-name" content="Abdelrahman")

    meta(name="msapplication-TileColor" content="#00aba9")
    meta(name="msapplication-TileImage" content="/assets/icons-mstile-144.png")
    meta(name="msapplication-config" content="/assets/browserconfig.xml")

    link(rel="manifest" href="/manifest.json")
    link(rel="shortcut icon" type="image/png" href="/favicon.ico")

    link(rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16.png")

  body
    noscript.
      This website requires JavaScript to deliver the best possible experience.

    main.main
      include navbar.pug
      block content
    include footer.pug